In [1]:
import pandas as pd

In [6]:
geosra_pd = pd.read_parquet('../data/raw/geo-sra-ecological.parquet.gzip')
print(geosra_pd.head())

       bioproject          acc               organism assay_type  \
1836  SRR19309655  SRR19309655  wastewater metagenome        WGS
1932  SRR21912716  SRR21912716  wastewater metagenome    RNA-Seq
2497   ERR3494974   ERR3494974     biofilm metagenome        WGS
2503   SRR4419991   SRR4419991    seawater metagenome        WGS
2637  SRR25180576  SRR25180576    sediment metagenome        WGS

               instrument librarylayout libraryselection librarysource  \
1836               MinION        SINGLE           RANDOM       GENOMIC
1932               Sequel        SINGLE              PCR       GENOMIC
2497  Illumina HiSeq 2500        PAIRED           RANDOM   METAGENOMIC
2503       Illumina MiSeq        PAIRED              PCR   METAGENOMIC
2637            DNBSEQ-T7        PAIRED           RANDOM   METAGENOMIC

     geo_loc_name_country_calc geo_loc_name_country_continent_calc  ...  \
1836                       USA                       North America  ...
1932                     China                                Asia  ...
2497      United Arab Emirates                                Asia  ...
2503                   Denmark                              Europe  ...
2637                     China                                Asia  ...

       latitude   longitude latitude_precision longitude_precision has_latlon  \
1836        NaN         NaN                NaN                 0.0       None
1932        NaN         NaN                NaN                 0.0       None
2497  24.413991   54.568687                6.0                 1.0       True
2503  56.095000   12.458100                3.0                 1.0       True
2637  37.450000  121.620000                2.0                 1.0       True

     rg_country_code    rg_city            rg_country  gc_continent  \
1836                                                           None
1932                                                           None
2497              AE  Abu Dhabi  United Arab Emirates          Asia
2503              DK    Hornb√¶k               Denmark        Europe
2637              CN     Wenhua                 China          Asia

      gc_continent_code
1836               None
1932               None
2497                 AS
2503                 EU
2637                 AS

[5 rows x 26 columns]

In [8]:
geosra_ww_pd = geosra_pd[geosra_pd['organism'] == "wastewater metagenome"]
print(geosra_ww_pd)

           bioproject          acc               organism assay_type  \
1836      SRR19309655  SRR19309655  wastewater metagenome        WGS
1932      SRR21912716  SRR21912716  wastewater metagenome    RNA-Seq
3164       ERR1514427   ERR1514427  wastewater metagenome        WGS
3165       ERR1514430   ERR1514430  wastewater metagenome        WGS
9477      SRR25887147  SRR25887147  wastewater metagenome        WGS
...               ...          ...                    ...        ...
30448003  SRR24234121  SRR24234121  wastewater metagenome        WGS
30448004  SRR25826482  SRR25826482  wastewater metagenome        WGS
30448005  SRR25343345  SRR25343345  wastewater metagenome        WGS
30448014  SRR19579686  SRR19579686  wastewater metagenome        WGS
30448015  SRR19475857  SRR19475857  wastewater metagenome        WGS

                     instrument librarylayout libraryselection  \
1836                     MinION        SINGLE           RANDOM
1932                     Sequel        SINGLE              PCR
3164             Illumina MiSeq        PAIRED           RANDOM
3165             Illumina MiSeq        PAIRED           RANDOM
9477                DNBSEQ-G400        PAIRED              PCR
...                         ...           ...              ...
30448003  Illumina NovaSeq 6000        PAIRED           RT-PCR
30448004  Illumina NovaSeq 6000        PAIRED           RT-PCR
30448005  Illumina NovaSeq 6000        PAIRED           RT-PCR
30448014  Illumina NovaSeq 6000        PAIRED           RT-PCR
30448015  Illumina NovaSeq 6000        PAIRED           RT-PCR

               librarysource geo_loc_name_country_calc  \
1836                 GENOMIC                       USA
1932                 GENOMIC                     China
3164             METAGENOMIC                   Denmark
3165             METAGENOMIC                   Denmark
9477               VIRAL RNA              South Africa
...                      ...                       ...
30448003  METATRANSCRIPTOMIC                       USA
30448004  METATRANSCRIPTOMIC                       USA
30448005  METATRANSCRIPTOMIC                       USA
30448014  METATRANSCRIPTOMIC                       USA
30448015  METATRANSCRIPTOMIC                       USA

         geo_loc_name_country_continent_calc  ...   latitude  longitude  \
1836                           North America  ...        NaN        NaN
1932                                    Asia  ...        NaN        NaN
3164                                  Europe  ...  55.640494  12.505821
3165                                  Europe  ...  55.640494  12.505821
9477                                  Africa  ...        NaN        NaN
...                                      ...  ...        ...        ...
30448003                       North America  ...        NaN        NaN
30448004                       North America  ...        NaN        NaN
30448005                       North America  ...        NaN        NaN
30448014                       North America  ...        NaN        NaN
30448015                       North America  ...        NaN        NaN

         latitude_precision longitude_precision has_latlon rg_country_code  \
1836                    NaN                 0.0       None
1932                    NaN                 0.0       None
3164                    6.0                 1.0       True              DK
3165                    6.0                 1.0       True              DK
9477                    NaN                 0.0       None
...                     ...                 ...        ...             ...
30448003                NaN                 0.0       None
30448004                NaN                 0.0       None
30448005                NaN                 0.0       None
30448014                NaN                 0.0       None
30448015                NaN                 0.0       None

           rg_city  rg_country  gc_continent  gc_continent_code
1836                                    None               None
1932                                    None               None
3164      Hvidovre     Denmark        Europe                 EU
3165      Hvidovre     Denmark        Europe                 EU
9477                                    None               None
...            ...         ...           ...                ...
30448003                                None               None
30448004                                None               None
30448005                                None               None
30448014                                None               None
30448015                                None               None

[43834 rows x 26 columns]